// ------------- COLORS -------------
// Primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

// Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$v-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// ------------- FONTS -------------
$n-f-size: 1.8rem;
$f-w-300: 300;
$f-w-400: 400;
$f-w-700: 700;
$font-family: "Public Sans", sans-serif;
